body, html {
 /* background-color: rgb(2, 2, 13);*/
 background-image: url("../imagem/fundo1.png");
 background-size: 70% 60%;
 background-attachment: fixed;
 display: grid;
 overflow-x: clip;/*barra de navegação na horizontal*/
 transition: 1s;
 
}

h1{
  color: aliceblue;
  transition: 1s;
  }
  
  p{
  color: antiquewhite;
  transition: 1s;
  }
  
  .trilho {
    width: 50px;
    height: 20px;
    background-color: rgb(84, 83, 83);
    border-radius: 50px;
    position: relative;
  cursor: pointer;
  position: absolute;
  top: 2%;
  left: 90%;
  }
  
  .trilho .indicador{
    width: 20px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
   transform: scale(.9);
   position: absolute;
   left: 0;
   transition: 1s;
   position: absolute;
  }
  
  .trilho.dark{
    background-color: antiquewhite;
    position: absolute;
  }
  
  .trilho.dark .indicador{
  left: 30px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  }
  
  body.dark{
    background-color: rgb(142, 142, 142);
  }
  
  body.dark h1{
    color: black;
  }
  
  body.dark p{
    color: black;
  }
  
/*animação do nome*/
.nome { 
top: 7%;
margin: 3%;
font-family: 'Pandimencional', sans-serif;                                  
font-size: 700%;
line-height: 120%;   
text-align: center;                                            
 color: rgb(231, 231, 231);
 text-transform: uppercase;
 scroll-behavior: smooth;
 text-shadow: rgba(162, 137, 44, 0.842) -1px -1px 6px, rgba(57, 61, 255, 0.9) 1px 1px 6px;/*brilho na palavra*/
animation: myAnim 1s ease 0s 1 normal forwards;
}

.img-redes {
  left: -4%;
  top: -10%;
  position: absolute;
  filter: blur(2px);/*embaçamento*/
  opacity: 3%;/*transparencia*/
}

.globo {
  left: -4%;
  top: -29%;
  position: absolute;
  opacity: 30%;
}

/*animação do nome*/
@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}
kbd {color: rgb(143, 255, 118);}

strong {font-size: 170%; }

h1 { color: rgba(134, 198, 255, 0.459);
text-align: center;
padding-bottom: 3%;
padding-top: 3%;
}

.disciplina {
    padding-top: 9%;
    color: #cdcdcd;
    text-align: center;
    font-size: 60px;
    font-family: 'Pandimencional', sans-serif; 
    text-shadow: rgba(255, 214, 66, 0.842) -1px -1px 6px, rgba(57, 61, 255, 0.9) 1px 1px 6px;/*brilho na palavra*/
    
  }

table, th { 
    table-layout: fixed;
    width: 250px;
    height: 3px;
  }

#container1p, #container2p, #container3p, #container4p, #container5p, #container6p {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5%;
  }
/*Cards de disciplinas*/
.user-card {
    background-color: rgba(0, 136, 255, 0.031);
    border: 2px solid rgba(88, 152, 189, 0.367);
    padding: 1rem;
    width: 180px;
    text-align: center;
    backdrop-filter: blur( 1px );
-webkit-backdrop-filter: blur( 1px );
  }
  
.user-card:hover {
  background-color: rgba(7, 120, 120, 0.188);
    border: 2px solid rgba(255, 255, 255, 0.456);
    /*filter: drop-shadow(0 0 10px rgb(176, 243, 255));brilho na palavra*/
    animation: Anim 10s ease 0s 10 normal forwards; 
}
  
.user-card img {
    width: 145px;
    margin-bottom: 4rem;
  }
  
.user-card .user-name {
    font-weight: bold;
    margin-bottom: 0.6rem;
    color: rgb(255, 245, 231);
  }

 
/*Animação dos cards*/
@keyframes Anim {
	0%,100% {
		transform: translateY(0);
	}
10%,30%,50%,70% {
		transform: translateY(-8px);
	}
20%,40%,60% {
		transform: translateY(8px);
	}
80% {
		transform: translateY(6.4px);
	}
90% {
		transform: translateY(-6.4px);
	}
}


/* Cards SUAP-IF-GSA- aqui começa*/ 
.container {
  display: flex;
  justify-content: space-evenly;

}
.card {
  border-radius: 10%;
  margin: 20px 20px 100px;
  background: linear-gradient(90deg, rgba(49, 162, 91, 0.451) 0%, rgba(13, 90, 132, 0.257) 50%, rgba(42, 171, 199, 0.382) 100%);
  padding: 1rem;
  width: 165px;
  text-align: center;
  border: 2px solid rgba(168, 165, 165, 0.694);
}

.card img {
  width: 130px;
  position: sticky;
  top: 140px; left: 50px;
}
.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}
.title {
  color: white;
  font-weight: 300;
  position: static;
  left: 20px;
  top: 15px;
}
/* Cards SUAP-IF-GSA- aqui termina*/ 

/* Carrossel de anúncios - aqui começa*/ 
body1 {
  height: 70vh;
  width: 160vh;
  display: grid;
  place-items: center;
 margin-left: 100px;
}
main {
  position: relative ;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}

.item {
  width: 200px;
  height: 300px;
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

  &:nth-child(1), &:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
  }

  &:nth-child(3) { left: 50%; }
  &:nth-child(4) { left: calc(50% + 220px); }
  &:nth-child(5) { left: calc(50% + 440px); }
  &:nth-child(6) { left: calc(50% + 660px); opacity: 0; }
}

.content {
  width: min(30vw,400px);
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  font: 400 0.85rem helvetica,sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0,0,0,0.5);
  opacity: 0;
  display: none;

  & .title {
    font-family: 'arial-black';
    text-transform: uppercase;
  }

  & .description {
    line-height: 1.7;
    margin: 1rem 0 1.5rem;
    font-size: 0.8rem;
  }

  & button {
    width: fit-content;
    background-color: rgba(0,0,0,0.1);
    color: white;
    border: 2px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
  }
}

.item:nth-of-type(2) .content {
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.nav {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;

  & .btn {
    background-color: rgba(255,255,255,0.5);
    color: rgba(0,0,0,0.7);
    border: 2px solid rgba(0,0,0,0.6);
    margin: 0 0.25rem;
    padding: 0.75rem;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: rgba(255,255,255,0.3);
    }
  }
}

@media (width > 650px) and (width < 900px) {
  .content {
    & .title        { font-size: 1rem; }
    & .description  { font-size: 0.7rem; }
    & button        { font-size: 0.7rem; }
  }
  .item {
    width: 160px;
    height: 270px;

    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 170px); }
    &:nth-child(5) { left: calc(50% + 340px); }
    &:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
  }
}

@media (width < 650px) {
  .content {
    & .title        { font-size: 0.9rem; }
    & .description  { font-size: 0.65rem; }
    & button        { font-size: 0.7rem; }
  }
  .item {
    width: 130px;
    height: 220px;

    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 140px); }
    &:nth-child(5) { left: calc(50% + 280px); }
    &:nth-child(6) { left: calc(50% + 420px); opacity: 0; }
  }
}

/* Carrossel de anúncios - aqui termina*/


@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
}

nav > ul,
nav > ul > li {
  outline: 0;
}

nav > ul > li > a {
 text-decoration: none;
}


/* MAIN MENU */

.main-menu {
  position:fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 60px;
  overflow:hidden;
  background: #0009;
  transition: width .05s linear;
  -webkit-transition: width .05s linear;
  z-index: 10;
  padding-top: 0px;
}

.main-menu:hover {
  width: 180px;
  overflow:visible;
}

.main-menu > ul > li {
  position: relative;
  display: block;
  width: 180px;
}

.main-menu > ul > li > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color:#999;
  font-size: 1rem;
  transition:all .1s linear;
  -webkit-transition:all .1s linear;
  padding: 10px 0;
}

.nav-icon {
  width: 60px;
  height: 20px;
  font-size: 20px;
  text-align: center;
}

.nav-text {
  width: 120px;
  height: 20px;
  font-family: "Mulish", sans-serif;
}

.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.main-menu li:hover > a, .main-menu li.active > a, .main-menu li > a:focus {
  text-decoration: none;
  color: #fff;
  background-color: rgb(29, 79, 215, 0.7);
}



/* RODAPÉ */

.rodape{
  background-color: #02a3f310;
  color: white;
  height: auto;
  width: 100%;
  font-size: 14px;
  font-family: helvetica;
  
}
.rodape a{
  text-decoration: none;
  color: white;
}
.rodape p{
  margin-bottom: 5px;
}
.rodape-div{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  margin: auto;
  align-items: stretch;
  padding: 60px 10px 40px 10px;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
  display: flex;
  width: calc(100% / 4 - 20px);
  padding: 10px;
}
.rodape span{
  font-size: 20px;
  color: rgb(85, 84, 84);
}
.rodape-direitos{
  width: calc(100% - 20px);
  background-color: rgba(0, 0, 0, 0.727);
  padding: 10px;
  margin: 0px;
  text-align: center;
}
